.privacy-container {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  @include tablet {
    padding: 24px 15px;
    font-size: 24px;
  }
}

.privacy-header {
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ffecb5;
  @include tablet {
    margin-bottom: 0;
  }
}

.privacy-title {
  color: var(--brown-color);
  font-size: 32px;
  margin-bottom: 10px;
  @include tablet {
    font-size: 24px;
  }
}

.privacy-date {
  color: #666;
  font-size: 14px;
}

.privacy-section {
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 0;
    &:not(:first-child) {
      padding-top: 0;
    }
  }
}
.privacy-container {
  & .section-title {
    color: var(--brown-color);
    font-size: 20px;
    margin-bottom: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ffecb5;
    @include tablet {
      padding-top: 24px;
      margin-bottom: 0;
      font-size: 24px;
      border-bottom: none;
    }
  }
}

.privacy-container .privacy-text {
  text-align: left;
  margin-bottom: 0;
}
.privacy-btn {
  margin-top: 24px;
}
.privacy-list {
  margin-left: 30px;
  margin-bottom: 15px;
  @include tablet {
    margin-left: 0;
    margin-bottom: 0;
    padding: 16px;
  }
}

.privacy-list li {
  margin-bottom: 8px;
  font-size: 14px;
}

.contact-info {
  background: #ffecb5;
  padding: 20px;
  border-radius: 5px;
  margin: 30px 0;
  @include tablet {
    margin: 0;
  }
}

.back-link {
  display: inline-block;
  font-size: 14px;
  margin-top: 30px;
  padding: 12px 25px;
  background: #bf7960;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.back-link:hover {
  background: #1e3652;
}

/*Чекбокс согласия обработки*/
.privacy-agreement {
  display: inline-flex;
  align-items: flex-end;
  gap: 10px;
}

.privacy-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-top: 2px;
}
.privacy-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid #41140b;
  border-radius: 3px;
  transition: all 0.3s;
}
.privacy-input:checked ~ .checkmark {
  background-color: #41140b;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.privacy-input:checked ~ .checkmark:after {
  display: block;
}
.privacy-text {
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
}
.privacy-link {
  color: #333333;
  text-decoration: underline;
}
.privacy-agreement {
  margin-bottom: 20px;
}

.privacy-link:hover {
  text-decoration: none;
}
@media (max-width: 470px) {
  .privacy-agreement {
    align-items: flex-start;
  }
}
