/******/
/**/
/*Sign-up__popup*/
.sign-up {
  &__popup {
    position: fixed;
    background-color: rgba(65, 20, 11, 0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1002;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    &.open {
      opacity: 1;
      visibility: visible;

      .sign-up__container {
        transform: perspective(600px) translate(0px, 0%) rotate(0deg);
        opacity: 1;
      }
    }

    .column-form {
      &__content {
        margin-right: 0;
      }

      &__input,
      &__textarea {
        padding: 10px 0 10px 13px;
        background-color: #ffffff;
        transition: border 0.3s ease-in-out;
        outline: none;

        &:hover {
          border: 1px solid #bf7960;
        }

        &:focus {
          border: 1px solid #bf7960;
        }
      }

      &__textarea {
        min-height: 230px;
        min-width: 100%;
        border: 1px solid #eff0f6;
        outline: none;
        resize: none;
      }

      &__label {
        font-size: 24px;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }

      &__input {
        font-family: var(--font-family);
        font-style: normal;
        border: 1px solid #eff0f6;
        min-width: 100%;
        color: rgba(65, 20, 11, 0.6);
      }
    }

    .artstore-form-text {
      font-size: 24px;
      margin-bottom: 30px;
      font-weight: 400;
      color: #000000;
    }

    .btn-blue {
      padding: 10px 50px;
      font-size: 24px;
    }

    .form__button {
      text-align: center;
    }
  }

  &__container {
    position: relative;
    background-color: #faf4f2;
  }

  &__body {
    padding: 30px 10px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__close-btn {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      left: calc(50% - 1px); /* С учетом ширины линии (2px / 2 = 1px) */
      top: 0;
      content: " ";
      height: 100%; /* Занимает всю высоту кнопки */
      width: 2px;
      background-color: #000000;
      transition: 0.3s ease background-color;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover {
      &:before,
      &:after {
        background-color: #bf7960;
      }
    }

    .burger {
      width: 24px;
      height: 24px;
    }
  }
}

.container__sign-up {
  padding: 80px 50px 80px 500px;
  background-image: url("../img/sign-up.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

// Placeholders
.column-form__input::placeholder,
.column-form__textarea::placeholder,
.sign-up__select::placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.4);
}

// Body lock
body.lock {
  overflow: hidden;
}

/*Sign-up Form*/
.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
