/*THANKS*/
.thanks-wrap {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/thanks.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.thanks-wrap__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  color: var(--brown-color);
  text-align: center;
}
.text-center {
  font-size: 48px;
}
.thanks-text {
  font-size: 36px;
  font-family: var(--font-family);
  margin-bottom: 50px;
  font-weight: 700;
}
.thanks-link {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  display: block;
  font-family: var(--font-family);
  color: var(--brown-color);
  transition: color var(--transition);
}
.thanks-link:hover {
  color: var(--body-color);
}

@media (max-width: 768px) {
  .text-center {
    font-size: 36px;
  }
  .thanks-text {
    font-size: 24px;
  }
  .thanks-link {
    font-size: 16px;
  }
}

@media (max-width: 577px) {
  .text-center {
    font-size: 24px;
  }
  .thanks-text {
    font-size: 18px;
  }
  .thanks-link {
    font-size: 14px;
  }
}
