
<section class="section-offset">
  <h2 class="section-title">2. Accordion</h2>
  <div class="questions__container">
    <h2 class="questions__title section-title">
      Часто задаваемые вопросы
    </h2>
    <ul class="questions__accordion accordion">
      <li class="accordion__item ac js-enabled" tabindex="0" id="ac-0">
        <h3 class="ac-header">
          <button class="ac-trigger flex" aria-label="Выпадающий список" id="ac-trigger-0" role="button" aria-controls="ac-panel-0" aria-disabled="false" aria-expanded="false">
            <span class="ac-trigger__title">Из&nbsp;чего формируется конечная стоимость
              проекта?</span>

            <span class="ac-trigger__button">
              <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0571 15.0571L15.0571 -1.31634e-06L15.9429 -1.31634e-06L15.9429 15.0571L23.8835 15.0571L31 15.0571L31 15.9429L15.9429 15.9429L15.9429 31L15.0571 31L15.0571 15.9429L2.42093e-06 15.9429L2.49836e-06 15.0571L15.0571 15.0571Z"></path>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel" id="ac-panel-0" role="region" aria-labelledby="ac-trigger-0" style="transition-duration: 600ms; height: 0px;">
          <p class="accordion__text">
            Являясь всего лишь частью общей картины, непосредственные
            участники технического прогресса призывают нас к&nbsp;новым
            свершениям, которые, в&nbsp;свою очередь, должны быть
            своевременно верифицированы. Но&nbsp;высококачественный
            прототип будущего проекта является качественно новой
            ступенью первоочередных требований. А&nbsp;ещё некоторые
            особенности внутренней политики, которые представляют собой
            яркий пример континентально-европейского типа политической
            культуры, будут объявлены нарушающими общечеловеческие нормы
            этики и&nbsp;морали. И&nbsp;нет сомнений, что явные признаки
            победы институционализации призывают нас к&nbsp;новым
            свершениям, которые, в&nbsp;свою очередь, должны быть
            указаны как претенденты на&nbsp;роль ключевых факторов.
          </p>
          <p class="accordion__text">
            Приятно, граждане, наблюдать, как некоторые особенности
            внутренней политики могут быть призваны к&nbsp;ответу. Явные
            признаки победы институционализации набирают популярность
            среди определённых слоёв населения, а&nbsp;значит, должны
            быть объединены в&nbsp;целые кластеры себе подобных.
            Банальные, но&nbsp;неопровержимые выводы, а&nbsp;также
            многие известные личности призывают нас к&nbsp;новым
            свершениям, которые, в&nbsp;свою очередь, должны быть
            представлены в&nbsp;исключительно положительном свете.
          </p>
        </div>
      </li>
      <li class="accordion__item ac js-enabled" tabindex="0" id="ac-1">
        <h3 class="ac-header">
          <button class="ac-trigger flex" aria-label="Выпадающий список" id="ac-trigger-1" role="button" aria-controls="ac-panel-1" aria-disabled="false" aria-expanded="false">
            <span class="ac-trigger__title">У&nbsp;меня есть свой проект.
              Сможем&nbsp;ли мы&nbsp;его доработать /
              реализовать?</span>

            <span class="ac-trigger__button">
              <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0571 15.0571L15.0571 -1.31634e-06L15.9429 -1.31634e-06L15.9429 15.0571L23.8835 15.0571L31 15.0571L31 15.9429L15.9429 15.9429L15.9429 31L15.0571 31L15.0571 15.9429L2.42093e-06 15.9429L2.49836e-06 15.0571L15.0571 15.0571Z"></path>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel" id="ac-panel-1" role="region" aria-labelledby="ac-trigger-1" style="transition-duration: 600ms; height: 0px;">
          <p class="accordion__text"></p>
          <p class="accordion__text"></p>
        </div>
      </li>
      <li class="accordion__item ac js-enabled" tabindex="0" id="ac-2">
        <h3 class="ac-header">
          <button class="ac-trigger flex" aria-label="Выпадающий список" id="ac-trigger-2" role="button" aria-controls="ac-panel-2" aria-disabled="false" aria-expanded="false">
            <span class="ac-trigger__title">Я&nbsp;выбираю между разными компаниями. В&nbsp;чём ваше
              отличие?</span>
            <span class="ac-trigger__button">
              <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0571 15.0571L15.0571 -1.31634e-06L15.9429 -1.31634e-06L15.9429 15.0571L23.8835 15.0571L31 15.0571L31 15.9429L15.9429 15.9429L15.9429 31L15.0571 31L15.0571 15.9429L2.42093e-06 15.9429L2.49836e-06 15.0571L15.0571 15.0571Z"></path>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel" id="ac-panel-2" role="region" aria-labelledby="ac-trigger-2" style="transition-duration: 600ms; height: 0px;">
          <p class="accordion__text"></p>
          <p class="accordion__text"></p>
        </div>
      </li>
      <li class="accordion__item ac js-enabled" tabindex="0" id="ac-3">
        <h3 class="ac-header">
          <button class="ac-trigger flex" aria-label="Выпадающий список" id="ac-trigger-3" role="button" aria-controls="ac-panel-3" aria-disabled="false" aria-expanded="false">
            <span class="ac-trigger__title">Могу&nbsp;ли я&nbsp;делегировать вам работу&nbsp;/
              согласование с&nbsp;подрядчиком / организацией?</span>
            <span class="ac-trigger__button">
              <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0571 15.0571L15.0571 -1.31634e-06L15.9429 -1.31634e-06L15.9429 15.0571L23.8835 15.0571L31 15.0571L31 15.9429L15.9429 15.9429L15.9429 31L15.0571 31L15.0571 15.9429L2.42093e-06 15.9429L2.49836e-06 15.0571L15.0571 15.0571Z"></path>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel" id="ac-panel-3" role="region" aria-labelledby="ac-trigger-3" style="transition-duration: 600ms; height: 0px;">
          <p class="accordion__text"></p>
          <p class="accordion__text"></p>
        </div>
      </li>
      <li class="accordion__item ac js-enabled" tabindex="0" id="ac-4">
        <h3 class="ac-header">
          <button class="ac-trigger flex" aria-label="Выпадающий список" id="ac-trigger-4" role="button" aria-controls="ac-panel-4" aria-disabled="false" aria-expanded="false">
            <span class="ac-trigger__title">Могу&nbsp;ли я&nbsp;вернуть деньги на&nbsp;каком-либо
              из&nbsp;этапов работ?</span>
            <span class="ac-trigger__button">
              <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0571 15.0571L15.0571 -1.31634e-06L15.9429 -1.31634e-06L15.9429 15.0571L23.8835 15.0571L31 15.0571L31 15.9429L15.9429 15.9429L15.9429 31L15.0571 31L15.0571 15.9429L2.42093e-06 15.9429L2.49836e-06 15.0571L15.0571 15.0571Z"></path>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ac-panel" id="ac-panel-4" role="region" aria-labelledby="ac-trigger-4" style="transition-duration: 600ms; height: 0px;">
          <p class="accordion__text"></p>
          <p class="accordion__text"></p>
        </div>
      </li>
    </ul>
  </div>
</section>
