<footer class="footer">
  <div class="footer__container container">
    <div class="footer__content">
      <div class="footer__content-left">
        <a href="#" class="footer__logo">
          <picture>
            <source srcset="img/icons/logo-footer.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/icons/logo-footer.png"
              width="255"
              height="244"
              alt="Логотип"
            />
          </picture>
        </a>
      </div>
      <div class="footer__content-right flex">
        <nav class="footer__nav">
          <ul class="footer__list flex list-reset">
            <li class="footer__list-item">
              <a href="torts.html" class="footer__list-link footer__list-link-1"
                >Торты</a
              >
            </li>
            <li class="footer__list-item">
              <a href="zefir.html" class="footer__list-link footer__list-link-2"
                >Зефир</a
              >
            </li>
            <li class="footer__list-item">
              <a
                href="pryanik.html"
                class="footer__list-link footer__list-link-3"
                >Пряники</a
              >
            </li>
            <li class="footer__list-item">
              <a
                href="chocolade.html"
                class="footer__list-link footer__list-link-4"
                >Фигурки из шоколада</a
              >
            </li>
          </ul>
        </nav>
        <div class="footer__contacts">
          <ul class="footer__contacts-list list-reset">
            <li class="footer__contacts-list-item">
              <span class="footer__contacts-addres">
                г. Москва, м. Тульская
              </span>
            </li>
            <li class="footer__contacts-list-item">
              <a href="tel:+79161291517" class="footer__list-link"
                >+ 7 916 129 15 17</a
              >
            </li>
            <li class="footer__contacts-list-item">
              <a href="mailto:gippopotut@mail.ru" class="footer__list-link"
                >gippopotut@mail.ru</a
              >
            </li>
            <li class="footer__contacts-list-item">
              <a
                href="https://vk.com/ketegushchina"
                class="footer__list-link social-new vk-link"
                aria-label="Мы в ВКонтакте"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="19"
                  viewBox="0 0 30 19"
                  fill="currentColor"
                  role="img"
                  aria-labelledby="vkTitle"
                >
                  <title id="vkTitle">ВКонтакте</title>
                  <!-- Примерный путь для VK (замените на ваш) -->
                  <path
                    d="M25.78 4.45c-.17-.15-.37-.22-.65-.22h-2.37c-.54 0-.78.3-.93.64 0 0-1.1 2.7-2.38 4.8-.45.7-.92 1.05-1.26 1.05-.17 0-.3-.08-.3-.3V4.64c0-.54-.15-.82-.68-.82H12.4c-.38 0-.6.23-.6.46 0 .48.75.6.82 1.96v2.96c0 .6-.1.8-.47.8-.86 0-2.95-3.15-4.2-6.77-.25-.87-.5-1.22-1.17-1.22H3.87c-.54 0-.78.3-.78.63 0 .6.76 3.55 3.54 7.45 1.87 2.73 4.52 4.2 6.92 4.2 1.44 0 1.73-.33 1.73-.9V13.8c0-.66.15-.9.68-.9.38 0 1.04.2 2.57 1.6 1.75 1.67 2.04 2.42 3.03 2.42h2.37c.54 0 .82-.33.66-.9-.36-1.1-2.75-3.36-2.86-3.5-.3-.37-.22-.53 0-.86 0 0 4.12-5.8 4.55-7.76z"
                  />
                </svg>
              </a>
              <a
                href="https://t.me/radost_pzz"
                class="footer__list-link social-new tg-link"
                aria-label="Мы в Telegram"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="23"
                  height="19"
                  viewBox="0 0 23 19"
                  fill="currentColor"
                  role="img"
                  aria-labelledby="tgTitle"
                >
                  <title id="tgTitle">Telegram</title>
                  <!-- Примерный путь для Telegram (замените на ваш) -->
                  <path
                    d="M22.72 1.77L19.48 17.04c-.25 1.18-.9 1.48-1.83.92l-5.06-3.73-2.44 2.35c-.27.27-.5.5-1.03.5l.37-5.26 9.38-8.46c.41-.37-.09-.58-.64-.21L6.3 10.8 1.2 9.17c-1.15-.36-1.17-1.14.24-1.69l20.2-7.77c.96-.36 1.8.22 1.48 1.69z"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div id="sign-up__popup" class="sign-up__popup">
  <div class="sign-up__body">
    <div class="sign-up__container container__sign-up">
      <div class="sign-up__close-btn close-popup"></div>
      <input type="hidden" id="popup-product-name" name="productname" />
      <input type="hidden" id="popup-product-price" name="productprice" />
      <form
        action="../mail.php"
        method="POST"
        class="column-form__content form"
      >
        <p class="artstore-form-text">
          Для быстрого заказа звоните/ пишите
          <a href="tel:+79161291517">+7&nbsp;916&nbsp;129-15-17</a>
          (Telegram, MAX, WhatsApp)
        </p>
        <label class="column-form__label">
          <span class="visually-hidden">Ваше имя*</span>
          <input
            type="text"
            name="name"
            placeholder="Ваше имя*"
            class="column-form__input"
            required
          />
        </label>
        <label class="column-form__label">
          <span class="visually-hidden">Номер телефона</span>
          <input
            type="tel"
            name="tel"
            placeholder="Номер телефона*"
            class="column-form__input tel"
            required
          />
        </label>
        <label class="column-form__label">
          <span class="visually-hidden">Вид заказа</span>
          <select
            name="select"
            id="pet-select"
            class="column-form__input sign-up__select"
          >
            <option class="sign-up__select-option" value="">
              Тип продукции
            </option>
            <option class="sign-up__select-option" value="Пряники">
              Пряники
            </option>
            <option class="sign-up__select-option" value="Зефир">Зефир</option>
            <option class="sign-up__select-option" value="Торты">Торты</option>
            <option class="sign-up__select-option" value="Фигурки из шоколада">
              Фигурки из шоколада
            </option>
          </select>
        </label>
        <label class="column-form__label">
          <span class="visually-hidden">Комментарий</span>
          <textarea
            name="message"
            id="message"
            placeholder="Комментарий"
            class="column-form__textarea"
          ></textarea>
        </label>
        <div class="privacy-agreement">
          <label class="privacy-checkbox">
            <input
              type="checkbox"
              id="privacyAgreement"
              required
              class="privacy-input"
            />
            <span class="checkmark"></span>
          </label>
          <span class="privacy-text">
            Я согласен с
            <a href="privacy-policy.html" class="privacy-link"
              >политикой конфиденциальности</a
            >
          </span>
        </div>
        <input type="hidden" name="recaptchaResponse" id="recaptchaResponse" />
        <p class="form__button">
          <button
            type="submit"
            class="btn btn-blue"
            aria-label="Кнопка отправить"
          >
            Отправить
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
<div class="cookies-banner" id="cookiesBanner">
  <div class="cookies-content">
    <p class="cookies-text">
      Мы используем файлы cookie для улучшения работы сайта. Продолжая
      использование сайта, вы соглашаетесь с
      <a href="privacy-policy.html" class="cookies-link"
        >Политикой конфиденциальности</a
      >
    </p>
    <button class="cookies-btn btn" id="acceptCookies">Принять</button>
  </div>
</div>
