<header class="header" data-menu="">
  <div class="header__container flex container">
    <a href="#" class="header__logo">
      <img
        src="./img/logo-header.png"
        alt="Логотип Репетитор по русскому языку"
        width="45"
        height="40"
      />
    </a>
    <div class="header__visible-links">
      <a href="#" class="header__visible-links-link">Методика</a>
      <a href="#" class="header__visible-links-link">Занятия</a>
      <a href="#" class="header__visible-links-link">Контакты</a>
    </div>
    <nav class="header__nav flex">
      <ul class="header__list flex list-reset">
        <li class="header__list-item">
          <a href="#about" class="header__list-link">Обо мне</a>
        </li>
        <li class="header__list-item">
          <a href="#methodology" class="header__list-link">Методика</a>
        </li>
        <li class="header__list-item">
          <a href="#reviews" class="header__list-link">Отзывы</a>
        </li>
        <li class="header__list-item">
          <a href="#subscription" class="header__list-link">Занятия</a>
        </li>
        <li class="header__list-item">
          <a href="#sign" class="header__list-link">Диагностика</a>
        </li>
        <li class="header__list-item">
          <a href="#questions" class="header__list-link">Вопросы</a>
        </li>
        <li class="header__list-item">
          <a href="#contacts" class="header__list-link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="header_contacts flex">
      <a class="header_contacts-link" href="mailto:mly27@mail.ru"
        >mly27@mail.ru</a
      >
      <a class="header_contacts-link" href="tel:+79159429394"
        >+7 915 942-93-94</a
      >
    </div>
    <button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger=""
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
