<header class="header">
  <div class="header__container flex container">
    <a href="/" class="header__logo">
      <picture>
        <source srcset="img/icons/logo-header.webp" type="image/webp" />
        <img
          src="img/icons/logo-header.png"
          width="89"
          height="57"
          alt="Логотип"
        />
      </picture>
    </a>
    <!-- <div class="header__content flex"> -->
    <nav class="header__nav flex" data-menu>
      <ul class="header__list flex list-reset">
        <li class="header__list-item">
          <a href="zefir.html" class="header__list-link">Зефир</a>
        </li>
        <li class="header__list-item">
          <a href="pryanik.html" class="header__list-link">Пряники</a>
        </li>
        <li class="header__list-item">
          <a href="torts.html" class="header__list-link">Торты</a>
        </li>
        <li class="header__list-item">
          <a href="chocolade.html" class="header__list-link"
            >Фигурки из шоколада</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-add">
      <div class="header__contact-item">
        <a href="tel:+79161291517" class="header__contact-link-phone"
          >+7 916 129 15 17</a
        >
      </div>
      <div class="header__contact-item">
        <address class="header__address">г. Москва, м. Тульская</address>
      </div>
    </div>
    <a
      href="#sign-up__popup"
      class="popup-link header__btn btn"
      aria-label="Кнопка заказа"
      >Заказать</a
    >
    <!-- </div> -->
    <button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
