
<section class="section-offset">
  <h2 class="section-title">1. Slick slider</h2>
  <div class="slider-container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="swiper-slide-link">
              <a href="./img/011.jpg" data-fslightbox="gallery" class="">
                  <img src="./img/01.jpg" alt="">
              </a>
              <div class="swiper-slide-text">Название</div>
              <div class="swiper-slide-subtext">Подробнее</div>
            </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-link">
              <a href="./img/021.jpg" data-fslightbox="gal" class="swiper-slide-img">
                  <img src="./img/02.jpg" alt="">
              </a>
              <div class="swiper-slide-text">Название</div>
              <div class="swiper-slide-subtext">Подробнее</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-link">
              <a href="./img/031.jpg" data-fslightbox="gal1" class="swiper-slide-img">
                  <img src="./img/03.jpg" alt="">
              </a>
              <div class="swiper-slide-text">Название</div>
              <div class="swiper-slide-subtext">Подробнее</div>
          </div>
        </div>
        <div class="swiper-slide">
          <a href="#" class="swiper-slide-link">
              <div class="swiper-slide-img">
                  <img src="./img/04.jpg" alt="">
              </div>
              <div class="swiper-slide-text">Название</div>
              <div class="swiper-slide-subtext">Подробнее</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="swiper-slide-link">
              <div class="swiper-slide-img">
                  <img src="./img/05.jpg" alt="">
              </div>
              <div class="swiper-slide-text">Название</div>
              <div class="swiper-slide-subtext">Подробнее</div>
          </a>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        
        <!-- Пагинация -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
