.accordion__item {
    position: relative;
    margin-top: -1px;
    border: none;
    background-color: white;
    outline: none;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.accordion__item:hover {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    z-index: 2;
}

.accordion__item:focus {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    z-index: 2;
}

.accordion__item.is-active {
    padding-bottom: 40px;
}

.accordion__item.is-active .ac-trigger__button {
    transform: rotate(45deg);
}

.accordion__item.is-active.ac-trigger:focus .ac-trigger__button svg {
    stroke: white;
}

.accordion__item.js-enabled .ac-trigger:hover .ac-trigger__button svg {
    stroke: black;
}

.accordion__text:not(:last-child) {
    margin-bottom: 32px;
}

.ac .ac-trigger {
    position: relative;
    padding: 29px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24);
    transition: color 0.3s linear, border 0.3s linear;
    outline: none;
    align-items: center;  
}

.ac .ac-trigger::after {
    display: none;
}

.ac .ac-trigger:focus {
    color: black;
    border: none;
}

.ac-trigger:focus,
.ac-trigger:hover {
    color: red;

}

.ac-trigger:active{
    color: orange;
    border-top: 1px solid orange;    
    border-bottom: 1px solid orange;
    z-index: 2;
}

.ac-trigger__button {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    transition: transform 0.3s linear, background-color 0.3s linear;
}

.ac-trigger__button svg {
    width: 31px;
    height: 31px;
    stroke: black;
    transform: translate(10px, 10px);
    transition: stroke 0.3s linear;
}

.ac-trigger:focus .ac-trigger__button,
.ac-trigger:hover .ac-trigger__button {
    background-color: red;
} 

.accordion__item:active + .ac-trigger__button {
    background-color: orange;
} 

.accordion__item.is-active .ac-trigger__button  {
    background-color: blue;
}

.ac-trigger:focus .ac-trigger__button svg,
.ac-trigger:hover .ac-trigger__button svg {
    stroke: white;
} 

/*Стили аккордеона*/
.accordion__content {
    overflow: hidden;
    visibility: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
}

.accordion--active .accordion__content {
    visibility: visible;
}