// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  //для body
  --font-family: "Muller", sans-serif;
  --font-size: 18px;
  --font-size-tab: 16px;
  --font-size-mob: 14px;
  --line-hight: 1.5;
  --body-color: #373737;
  --content-width: 1400px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --font-family-title-1: "InstrumentSans-Bold", sans-serif;

  // colors
  --white-color: #ffffff;
  --main-black: #373737;
  --brown: #5d4037;

  //offsets
  --offset: 24px;

  //Прочее
  --transition: 0.3s ease;

  //Accordion
  --orange: #f90;
}
